[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-logging = {git = "https://github.com/Watchful1/DiscordLogging.git"}
asyncpraw = "*"
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
